<form asp-action="HelloWorld">
    <label>Full name:</label>
    <input type="text" name="FullName">
    <br>
    <label >Phone Number:</label>
    <input type="text" name="PhoneNumber">
    <br>
    <input type="submit" value="Submit">
</form>
<h2>@ViewBag.message</h2>